.error__page {
  margin: 100px auto;
  width: 560px;
  height: 80px;
  background-color: $nord4;
  color: $nord11;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
}
