.headerBar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $nord6;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  text-decoration: none;

  a {
    color: #4c566a;
    text-decoration: none;
    cursor: pointer;
    transition: color fill ease-in-out 300ms;

    &:hover {
      color: #b48ead;

      .headerLogo {
        svg {
          fill: #b48ead;
        }
      }
    }

    .headerLogo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 600;

      svg {
        width: 40px;
        height: auto;
        fill: #4c566a;
      }
    }
  }

  .headerUserImage {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $nord3;

    img {
      width: 25px;
      height: 25px;
    }
  }
}
