.paginate__container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 560px;
  height: 39px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: $nord6;
  list-style-type: none;
  font-weight: 600;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
}

.paginate__Page {
  font-size: 16px;
  color: $nord0;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  height: 22px;
  width: 22px;
  border: 2px solid $nord6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    color: $nord6;
    background-color: $nord15;
    border: 2px solid $nord15;
  }
}

.paginate__previous {
  color: $nord0;
  cursor: pointer;
  transition: color ease-in-out 300ms;

  &:hover {
    color: $nord15;
  }
}

.paginate__next {
  color: $nord0;
  cursor: pointer;
  transition: color ease-in-out 300ms;

  &:hover {
    color: $nord15;
  }
}

.paginate__active {
  color: $nord6;
  background-color: $nord15;
  border: 2px solid $nord15;
  transition: border-radius ease-in-out 300ms;

  &:hover {
    color: $nord6;
    border: 2px solid $nord15;
    border-radius: 20%;
  }
}
